/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light+Two&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');
;
@import 'bootstrap/dist/css/bootstrap.min.css';


:root {
  --sage: #a3ac9b;
  --dark-sage: #727E66;
  --manatee: #8e9aafff;
  --languid-lavender: #cbc0d3ff;
  --pale-pink: #efd3d7ff;
  --pale-purple-pantone: #feeafaff;
  --lavender-web: #dee2ffff;
}

* {
  /* font-family: "Indie Flower", cursive; */
  font-family: 'Offside', cursive;
  font-weight: 600;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  background: -webkit-linear-gradient(90deg, hsla(222, 25%, 92%, 1) 0%, hsla(214, 26%, 95%, 1) 100%);
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--sage);
}

p {
  /* color: white; */
}

#page-wrap {
  padding-bottom: 10px;
  padding-top: 10px;
}


/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--pale-pink);
  opacity: .6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--languid-lavender);
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--sage);
}

/* header */

.AP-logo {
  text-align: center;
  color: var(--sage);
  font-size: 3rem;
  text-decoration: none;
  /* text-decoration: wavy underline var(--pale-pink); */
}

.nav-item {
  margin: auto;
  align-content: space-around;
  color: var(--languid-lavender);
  list-style: none;
}


.nav-item:hover {
  cursor: pointer;
  color: var(--languid-lavender);
}

.current-page {
  color: var(--languid-lavender);
} 


/* Portfolio main*/

/* about */
.bio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 2% 0;
}

.bio {
  background-color: var(--languid-lavender);
  max-width: 65%;
  border-radius: 10px;
  padding: 5%;
  color: #ffffff;
  /* opacity: 75%; */
  line-height: 2rem;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 500;
  cursor: default;
  box-shadow: var(--sage) 1px solid;
}

.my-pic {
  align-self: flex-start;
  max-width: 60%;
  margin: 10px;
  box-shadow: var(--sage) 1px solid;
  border-radius: 10%;
}

/* github activity section */
.activity-heading {
  text-align: center;
  color: var(sage) !important;
  font-size: 2.3em !important;
  font-weight: 500 !important;
  padding-top: 10px !important;
}

.github-activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* projects */
/* make project card hover to show more info effect */
.wrapper-grid {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 30rem));
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.card {
  width: 300px;
  height: 350px;
  border-radius: 1em;
  padding: 1.5rem;
  gap: 1em;
  /* display: flex;
  flex-wrap: wrap; */
  /* background: #f5f5f5; */
  position: relative;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.card-info {
  align-content: center;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  -webkit-transform: translateY(20%);
  -ms-transform: translateY(20%);
  transform: translateY(20%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: default;
}

/*Text*/
.text-title {
  color: #000000;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  background-color: var(--languid-lavender);
  border-radius: 10px;
  padding: 1%;
  cursor: default;
}

/*Image*/
.card-img {
  width: 450px;
  height: 350px;
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
}

.text-body {
  background-color: var(--languid-lavender);
  border-radius: 10px;
  color: #ffffff;
  padding: 2%;
}

.text-body:hover {
  background-color: var(--sage);
}

/* .tags {
  background-color: var(--sage);
  border-radius: 10px;
  padding: 5px;  
} */

/*Hover*/
.card:hover {
  -webkit-transform: translateY(5%);
  -ms-transform: translateY(5%);
  transform: translateY(5%);
}

.card:hover:before {
  border-radius: 1em;
  opacity: 1;
}

.card:hover .card-info {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* .project-icon {
  align-items: center;
  align-content: space-between;
  padding: 10px;
} */

/* contact */
.email {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 15% 0 15%;
  background-color: var(--languid-lavender);
  padding: 6px;
  border-radius: 10px;
  transition: background-color 0.25s ease-in-out;
}

.email a {
  font-size: 1.1rem;
  font-weight: 200;
  color: var(--sage);
  transition: color 0.25s ease-in-out;
  padding: 10px;
  color: #ffffff;
}

.email:hover {
  color: whitesmoke;
}

.email:hover {
  background-color: var(--manatee);
}

.email button {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border: 0px solid transparent;
  border-radius: 1.25em;
  transition: all 0.2s linear;
  background-color: rgba(100, 77, 237, 0.08);
}

.email button:hover {
  box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
    8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
    17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
    36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
    99px 72px 143px rgba(0, 0, 0, 0.08);
}

.copy {
  position: relative;
  display: inline-block;
}

.copy .copyText {
  visibility: hidden;
  width: 4em;
  background-color: rgba(0, 0, 0, 0.253);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.copy .copyText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.copy:hover .copyText {
  visibility: visible;
}

.copy-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: var(--sage);
}

#contact-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 2% 0;
  background-color: var(--languid-lavender);
  color: #f5f5f5;
  font-size: 1.3rem;
  opacity: 75%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 1px var(--sage);
}

#contact-section div {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
}

#contact-section input,
#contact-section textarea {
  margin: 5px 0 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--sage);
  font-size: 1.3rem;
}

#contact-section input:focus,
#contact-section textarea:focus {
  outline: none;
  border: 1.5px solid var(--languid-lavender);
}

/* Contact button */
.submit-btn {
  padding: 1rem;
  font-weight: 600;
  background: var(--sage);
  color: #f5f5f5;
  border-radius: .5rem;
  border: 2px solid var(--dark-sage);
  transition-duration: 1s;
  transition-property: border-top,
    border-left,
    border-bottom,
    border-right,
    box-shadow;
}

.submit-btn:hover {
  border: 2px solid var(--manatee);
  box-shadow: rgb(115, 120, 108, 0.4) 5px 5px, rgb(115, 120, 108, 0.3) 10px 10px, rgb(115, 120, 108, 0.2) 15px 15px;
}


.error-msg p {
  color: #ab3a2b;
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
}

/* resume */
.resume-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0% 10%;
}

@keyframes resume-color {
  from {
    color: var(--sage);
  }

  to {
    color: var(--languid-lavender);
  }
}

.heading {
  padding: 10px;
}

.resume-link {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: wavy underline var(--pale-pink);
  animation-name: resume-color;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.resume-section p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  color: black;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--languid-lavender);
  border-radius: 5px;
  padding: 2% 5% 5% 5%;
  opacity: 75%;
  border: var(--sage) 1px solid;

}

.skill-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--sage);
  padding: 5px;
  margin: 15px 25px 2px 25px;
}

.skill-text {
  font-size: 1.2rem;
  color: #f5f5f5;
}

/* footer */
.footer-basic {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 40px;

}

.footer-basic span {
  justify-content: space-between;
  padding: 10px 5%;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.icon-link {
  text-decoration: none;
  font-size: 40px;
  color: var(--sage);
}

.icon-link:hover {
  color: var(--languid-lavender);
}

/* media */
@media screen and (min-width: 420px) {
  .nav-link {
    font-size: 20px;
  }

  /* .my-pic {
    width: 60%;
    margin-bottom: 5%;
  } */


  .bio p {
    font-size: 20px;
  }

}

@media screen and (min-width: 575px) {
  #root {
    width: 95%;
    margin: auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }

  /* .my-pic {
    width: 50%;
    margin-bottom: 5%;
  } */

  /* .card {
    grid-template-columns: repeat(1, 1fr);
  } */

  .text-title {
    font-size: 20px;
    width: 60%;
  }

  /* .project-links {
    width: 10%;
  }

  .project-icon {
    height: 20px;
  } */

}

@media screen and (min-width: 750px) {
  #root {
    width: 90%;
    margin: auto;
  }

  #contact-section {
    width: 80%;
    margin: auto;
  }

  footer p {
    font-size: 18px;
  }
}

@media screen and (min-width: 980px) {
  main {
    width: 95%;
  }

  header {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: space-between;
  }

  h1 {
    display: inline;
    font-size: 26px;
    padding-bottom: 0;
    width: 40%;
    text-align: left;
  }

  nav {
    margin: auto;
    width: 60%;
    padding-bottom: 0;
  }

  .nav-links {
    padding-bottom: 0;
  }

  .nav-item {
    padding-top: 10px;
  }

  .bio-container {
    flex-direction: row;
  }

  /* .my-pic {
    width: 30%;
    padding: 10px;
  } */

  .bio {
    width: 70%;
    padding: 0 30px 0 30px;
    margin: auto;
  }

  /* 
  .card {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 50px;
  } */


  .text-title {
    width: 70%;
  }

  /* .project-link {
    width: 30%;
  } */

  #contact-section {
    width: 70%;
  }

  footer {
    width: 100%;
    flex-direction: row;
  }

}