@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Shadows+Into+Light+Two&display=swap");

:root {
  --sage: #a3ac9b;
  --lavender: #c2aecd;
}

* {
  font-family: "Indie Flower", cursive;
  font-weight: 600;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
  display: flex;
  background-image: radial-gradient(73% 147%, #eadfdf 59%, #ece2df 100%),
    radial-gradient(91% 146%,
      rgba(255, 255, 255, 0.5) 47%,
      rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}

a {
  color: var(--sage);
}

/* header */
h1 {
  text-align: center;
  color: var(--sage);
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  color: var(--sage);
}

.nav-item {
  margin: auto;
  align-content: space-around;
}

.nav-link {
  padding: 5px 0 2px;
  font-size: 15px;
  margin: auto;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
  color: var(--lavender);
}

.current-page {
  color: var(--lavender);
}

/* Portfolio main*/

h1,
h2,
h3 {
  text-align: center;
  color: var(--sage);
}

/* about */
.bio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 2% 0;
}

.bio {
  text-align: left;
  background-color: var(--lavender);
  max-width: 50%;
  border-radius: 10px;
  padding: 3% 6%;
  color: #f5f5f5;
  opacity: 75%;
  line-height: 2rem;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 400;
  font-size: 1.3em;
  cursor: pointer;
  border: var(--sage) 1px solid;
}

.my-pic {
  align-self: flex-start;
  width: 45%;
  min-width: 250px;
  margin: 0 5%;
  border-radius: 10%;
}

/* projects */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px 45px;
}

.project-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 3px;
  background-color: var(--lavender);
  padding: 5px 5px 10px 5px;
  box-shadow: 2px 2px 5px var(--sage, 0.5);
  border-radius: 20px;
}

.project-card:hover {
  box-shadow: 5px 5px 15px var(--lavender, 0.5);
}

.project-img {
  align-self: center;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: var(--sage) 1px solid;
}

.card-title {
  color: #f5f5f5;
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

.project-title {
  color: #f5f5f5;
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

.project-link {
  width: 25%;
}

.project-link {
  margin: 5px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

/* .project-icon {

} */

.project-icon:hover {
  box-shadow: 0px 0px 3px var(--sage);
}

/* contact */
#contact-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 2% 0;
  background-color: var(--lavender);
  color: #f5f5f5;
  opacity: 75%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 1px var(--sage);
}

#contact-section div {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  width: 100%;
}

#contact-section input,
#contact-section textarea {
  margin: 5px 0 15px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--sage);
}

#contact-section input:focus,
#contact-section textarea:focus {
  outline: none;
  border: 1.5px solid var(--lavender);
}

.submit-btn {
  background-color: var(--sage);
  padding: 8px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}

.error-msg p {
  color: #ab3a2b;
  font-style: italic;
}

/* resume */
.resume-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0% 10%;
}

@keyframes resume-color {
  from {
    color: var(--sage);
  }

  to {
    color: var(--lavender);
  }
}

.resume-link {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none;
  animation-name: resume-color;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.resume-section p {
  margin-bottom: 20px;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: var(--lavender);
  border-radius: 5px;
  padding: 2% 5% 5% 5%;
  opacity: 75%;
  border: var(--sage) 1px solid;
}

.skill-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.skill-icon {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--sage);
  padding: 5px;
  margin: 15px 25px 2px 25px;
}

.skill-text {
  font-size: 15px;
  color: #f5f5f5;
}

/* footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer span {
  justify-content: space-around;
  padding: 10px 5%;
}

.icon-link {
  text-decoration: none;
  font-size: 40px;
}

.icon-link:hover {
  color: var(--lavender);
}

/* media */
@media screen and (min-width: 420px) {
  .nav-link {
    font-size: 20px;
  }

  .my-pic {
    width: 60%;
    margin-bottom: 5%;
  }

  .bio p {
    font-size: 20px;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 575px) {
  #root {
    width: 95%;
    margin: auto;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
  }

  .my-pic {
    width: 50%;
    margin-bottom: 5%;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-title {
    font-size: 20px;
    width: 60%;
  }

  .project-links {
    width: 10%;
  }

  .project-icon {
    height: 20px;
  }

}

@media screen and (min-width: 750px) {
  #root {
    width: 90%;
    margin: auto;
  }

  .my-pic {
    width: 40%;
  }

  .project-title {
    font-size: 24px;
  }

  .project-icon {
    height: 32px;
  }

  #contact-section {
    width: 80%;
    margin: auto;
  }

  footer p {
    font-size: 18px;
  }
}

@media screen and (min-width: 980px) {
  main {
    width: 95%;
  }

  header {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
    align-content: space-between;
  }

  h1 {
    display: inline;
    font-size: 26px;
    padding-bottom: 0;
    width: 40%;
    text-align: left;
  }

  nav {
    margin: auto;
    width: 60%;
    padding-bottom: 0;
  }

  .nav-links {
    padding-bottom: 0;
  }

  .nav-item {
    padding-top: 10px;
  }

  .bio-container {
    flex-direction: row;
  }

  .my-pic {
    width: 30%;
    padding: 10px;
  }

  .bio {
    width: 70%;
    padding: 0 30px 0 30px;
    margin: auto;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 50px;
  }

  .project-card {
    width: 45%;
    margin: auto;
    border-bottom: none;
  }

  .project-title {
    width: 70%;
  }

  .project-link {
    width: 30%;
  }

  #contact-section {
    width: 70%;
  }

  footer {
    width: 100%;
    flex-direction: row;
  }

}